<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="com.info.dao.NoticeTaskDao"><resultMap id="NoticeTaskResultMap" type="com.info.pojo.NoticeTaskDo"><id column="notice_task_id" property="noticeTaskId" jdbcType="VARCHAR"/><result column="notice_sender" property="noticeSender" jdbcType="VARCHAR"/><result column="notice_message" property="noticeMessage" jdbcType="VARCHAR"/><result column="notice_task_status" property="noticeTaskStatus" jdbcType="VARCHAR"/><result column="notice_task_retryTime" property="noticeTaskRetryTime" jdbcType="INTEGER"/><result column="create_time" property="createTime" jdbcType="VARCHAR"/><result column="modify_time" property="modifyTime" jdbcType="VARCHAR"/></resultMap><insert id="insertNewNoticeTask">
			insert into notice_task(notice_task_id, notice_sender, notice_message, notice_task_status, notice_task_retryTime, create_time, modify_time)
  			value(#{noticeTask.noticeTaskId}, #{noticeTask.noticeSender}, #{noticeTask.noticeMessage},'RS','3',date_format(now(),'%Y-%m-%d %H:%i:%s'),date_format(now(),'%Y-%m-%d %H:%i:%s'))
		</insert></mapper>